body { font-family: Arial; }

svg rect {
	fill: gray;
}

svg text {
	fill: blue;
	font: 12px sans-serif;
	text-anchor: end;
}

.line {
   fill: none;
   stroke: green;
   stroke-width: 5px;
}